form {
  display: block;
  margin-top: 0em;
  font-family: sans-serif;
  width: 75%;
  text-align: center;
  position:fixed;
  left:12.5%;
 }
 body {
  text-align: center;
  display: block;
  margin: 8px;
  font-family: monospace;
 
  align-content :center;
 
 }
 
 
 #rowA {
  display: block;
  background-color: rgb(225, 231, 236);
 }
 
 #rowB {
  display: block;
  background-color: mintcream;
 
 }
 
 .label {
  display: inline-block;
  text-align: right;
  width: 48%;
  padding: 5px;
  vertical-align: middle;
  margin-top: 10px;
 }
 
 .input {
  display: inline-block;
  text-align: left;
  width: 48%;
  vertical-align: middle;
 }